@page "/Ticket/Index"
@inject TicketsService TicketsService
@inject NavigationManager Navigation
@rendermode InteractiveServer


<div class="card">
	<div class="shadow-lg">
		@*Header*@
		<div class="card-header text-center">
			<h2><strong>Consulta de Ticket</strong></h2>
		</div>
		@*Body*@
		<div class="card-body">
			@*Labels*@
			<div class="row">
				<div class="col-3">
					<label class="form-label" for="Filtro"><strong>Filtrar por</strong></label>
				</div>
				<div class="col-4">
					<label class="form-label" for="ValorFiltro"><strong>B&uacute;squeda</strong></label>
				</div>
			</div>
			@*Inputs y Buttons*@
			<div class="row">
				@*Filtro*@
				<div class="col-3">
					<InputSelect class="form-select" @bind-Value="filtro">
						<option value="" disabled>Elija una opción</option>
						<option value="id"><strong>ID</strong></option>
						<option value="nombres"><strong>Nombres</strong></option>
					</InputSelect>
				</div>
				@*Búsqueda*@
				<div class="col-4">
					<div class="input-group">
						<input class="form-control" @bind="valorFiltro" placeholder="Buscar" />
						<button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
					</div>
				</div>
				<div class="col-auto">
					<button type="button" class="btn btn-outline-secondary bi bi-arrow-counterclockwise" @onclick="Restablecer"> Restablecer</button>
				</div>
				<div class="col text-end">
					<button type="button" class="btn btn-outline-primary ms-2" @onclick="MostrarPantallaCrear">Crear</button>
				</div>
			</div>
			@*Tabla*@
			<div class="text-center mt-3">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>TicketId</th>
							<th>Fecha</th>
							<th>Prioridad</th>
							<th>ClienteId</th>
							<th>Asunto</th>
							<th>Descripcion</th>
							<th>Tiempo Invertido</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Tickets)
						{
							<tr>
								<td>@item.TicketId</td>
								<td>@item.Fecha</td>
								<td>@item.Prioridad</td>
								<td>@item.ClienteId</td>
								<td>@item.Asunto</td>
								<td>@item.Descripcion</td>
								<td>@item.Tiempo Invertido</td>
								<td><a class="btn btn-outline-warning bi bi-pencil-square" href="/Ticket/Edit/@item.TicketId"></a></td>
								<td><button type="button" class="btn btn-outline-danger bi bi-trash2" @onclick="()=> Eliminar(item.TicketId)"></button></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		@*footer*@
		<div class="card-footer">
			<p><strong>Total de Ticket: @Tickets.Count</strong></p>
		</div>
	</div>
</div>



@code {
	public List<Tickets> Tickets { get; set; } = new List<Tickets>();
	private string filtro = "";
	private string valorFiltro = "";
	

	private async Task Buscar()
	{
		if (valorFiltro.Trim() != "")
		{
			if (filtro == "id" && int.TryParse(valorFiltro, out int TicketId))
			{
				Tickets = await TicketsService.Listar(t => t.TicketId == TicketId);
			}
			else if (filtro == "nombres")
			{
				Tickets = await TicketsService.Listar(t => t.Asunto.ToLower().Contains(valorFiltro.ToLower()));
			}
		}
		else
		{
			Tickets = await TicketsService.Listar(t => true);
		}
	}

	public async Task Eliminar(int id)
	{
		var eliminado = await TicketsService.Eliminar(id);
		if (eliminado)
		{
			await Buscar();
		}

	}

	public async Task Restablecer()
	{
		Tickets = await TicketsService.Listar(t => true);
		filtro = string.Empty;
		valorFiltro = string.Empty;
	}

	public void MostrarPantallaCrear()
	{
		Navigation.NavigateTo("/Ticket/Create");
	}

	public void MostrarPantallaEditar(int id)
	{
		Navigation.NavigateTo($"/Ticket/Edit/{id}");
	}

	public void MostrarPantallaDetalle(int id)
	{
		Navigation.NavigateTo($"/Ticket/Create/{id}");
	}

}
